:root {
    --color_1: rgb(245,245,245);
    --hov_col_1: rgb(235,235,235);
    --color_2: rgb(150,150,150);
    --hov_col_2: rgb(160,160,160);
    --color_x: rgb(0,174,239);
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--color_2);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--hov_col_2);
}
::-webkit-scrollbar-track {
    background: var(--color_1);
}
html, body{
    padding: 0px;
    margin: 0px;
    font-family: "Questrial", sans-serif;
    scroll-behavior: smooth;
}
#navbar {
    position: sticky;
    /* width: 100%; */
    height: 55px;
    z-index: 3;
    padding: 0px 15px;
    background-color: var(--color_1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 500ms;
}
.menubtn {
    position: absolute;
    width: 25px;
    height: 17px;
    stroke: black;
    fill: none;
    stroke-linecap: square;
    stroke-width: 20px;
    cursor: pointer;
}
#menubtnnav {
    right: 13px;
}
#menubtn2 {
    display: none;
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 3;
    stroke-width: 17px;
    background-color: var(--color_1);
    padding: 6px 3px;
    border-radius: 2px;
}
#sttbtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 3;
    width: 25px;
    height: 17px;
    fill: none;
    stroke-linecap: square;
    stroke-linejoin: square;
    stroke: black;
    stroke-width: 20px;
    background-color: var(--color_1);
    padding: 6px 3px;
    border-radius: 50%;
    cursor: pointer;
}
#navlogo {
    height: 40px;
    user-select: none;
}
#sidenav {
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    padding-top: 55px;
    right: 0;
    background-color: var(--color_1);
    overflow-x: hidden;
    transition: 500ms;
}
#sidenav a {
    width: 100%;
    text-decoration: none;
    text-align: right;
    color: initial;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0px;
}
#sidenav a:hover {
    background-color: var(--hov_col_1);
}
#dim {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}
.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* About/Landing Page */
.about {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#dp {
    max-width: 350px;
    user-select: none;
}
.about p {
    max-width: 500px;
    min-width: 300px;
    margin: 0px 15px;
    line-height: 30px;
    font-size: 22px;
}
.about ~ a {
    text-decoration: none;
    color: initial;
    font-size: 24px;
    font-weight: bold;
    margin: 30px;
    padding: 20px;
    background-color: var(--color_1);
    border-radius: 5px;
}
/* Projects Page */
.projects {
    height: 100%;
    max-width: 1350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.projects a {
    display: block;
    width: 300px;
    text-decoration: none;
    color: initial;
    text-align: center;
    margin: 10px;
}
.hero {
    height: 300px;
    overflow: hidden;
}
#explore img {
    height: 100%;
    /* height: 120%;
    position: relative;
    right: 80px;
    bottom: 60px; */
}
#tetriling img {
    width: 500px;
    z-index: -1;
    position: relative;
    left: -100px;
}
#gsq img {
    position: relative;
    height: 90%;
    top: 5%;
}
#portal img {
    height: 100%;
}
#day_shapes img {
    height: 100%;
}
/* Project Page (General) */
.projectpage {
    width: 70%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.projectpage ~ a {
    text-decoration: none;
    text-align: center;
    color: initial;
    font-size: 24px;
    font-weight: bold;
    margin: 30px;
    padding: 20px;
    background-color: var(--color_1);
    border-radius: 5px;
}
h1 {
    padding: 0;
    margin-bottom: 0;
}
p, h2, h3, h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.lightbox {
    align-self: center;
}
.disclaimer {
    font-style: italic;
    font-size: 16px;
    padding: 0;
}
p a {
    text-decoration: none;
    font-weight: bold;
    color: initial;
}
.images {
    display: flex;
    justify-content: center;
}
.images div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#hero {
    display: flex;
    height: 300px;
    max-height: 45vmin;
    min-height: 200px;
}
.images p {
    align-self: center;
    justify-self: center;
    max-width: 300px;
}
.images .oth_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 650px;
    max-width: 97.5vmin;
}
.images .oth_images img {
    height: 150px;
    max-height: 22vmin;
}
@media only screen and (max-width: 1200px) {
    .images {
        flex-direction: column;
        align-items: center;
    }
    .oth_images {
        width: 425px;
        max-width: 63vmin;
    }
}
/* Connect:Explore Page */
#canegif {
    width: 100%;
    height: 250px;
    max-height: 30vmin;
    overflow: hidden;
    position: relative;
}
#canegif img {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
#explorepage iframe {
    width: 1600px;
    height: 900px;
    max-width: 64vw;
    max-height: 36vw;
    align-self: center;
    border: none;
}
#explorepage #compliance {
    width: initial;
    max-width: initial;
}
/* Tetriling Page */
#tetrilingpage h1 {
    margin-bottom: 20px;
}
#tetrilingpage .images {
    flex-wrap: wrap;
}
#tetr_anat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}
#fig1 {
    width: 400px;
    max-width: 80vw;
    margin: 10px;
}
#tetr_anat p {
    max-width: 80vmin;
    margin: 10px;
}
/* Green Square Page */
#gsqpage .lightbox {
    width: 80%;
}
#gsqpage .lightbox video,
#gsqpage .lightbox > img {
    width: 100%;
    outline: none;
}
/* Portal Page */
#portalpage .lightbox {
    width: 80%;
}
#portalpage .lightbox video,
#portalpage .lightbox > img {
    width: 100%;
}
#portalpage .oth_images {
    width: 100%;
}
/* Day Shapes Page */
#dayshapespage .lightbox {
    width: 80%;
}
#dayshapespage .lightbox video,
#dayshapespage .lightbox > img {
    width: 100%;
    outline: none;
}